body {
    
}
p {
    margin: 0;
}
.vending-machine {
    display: flex;
    justify-content: space-around;
}
.vending-machine > .left {
    /* background-color: aqua; */
    width: 60%;
}
.vending-machine > .left > .drinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border : 1px solid gray; */
    flex-wrap: wrap;
}
.vending-machine > .left > .drinks > .item {
    /* background-color: gray; */
    border: 2px solid gray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.vending-machine > .left > .drinks > .item > img {
    width: 64px;
    height: 64px;
}
.vending-machine > .right {
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

.vending-machine > .right > .user-info {
    background-color: aquamarine;
    border : 2px solid gray;
    border-radius: 8px;
    height: 30%;
}

.vending-machine > .right > .cart{
    background-color: #d9d9d9;
    border : 2px solid gray;
    border-radius: 8px;
    height : 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.vending-machine > .right > .cart > .cartitem{
    background-color: whitesmoke;
    border : 2px solid gray;
    width:70%;
    text-align: center;
    font-size: 15px;
    height: 75%;
    
    line-height: 25px;
    /* font-size: 15px;
    height: 80%;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}